<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit person</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="name">Nickname: </label>
    <input type="text" th:field="*{nickname}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Name Error</div>
    <br/>

    <label for="email">Email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
    <br/>

    <input type="submit" value="Update!"/>
</form>

<form th:method="GET" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Back">
</form>

</body>
</html>