<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="game"
          class="org.pixel.springsandbox.beans.HorrorGame">
        <property name="name" value="outlast"/>
    </bean>

    <bean id="gameConsole"
          class="org.pixel.springsandbox.beans.GameConsole">
        <property name="game" ref="game"/>
        <property name="name" value="PS4"/>
        <property name="RAM" value="8"/>
    </bean>

</beans>